* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/referente-de-gimnasios.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
}

.parrafo_explicacion {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  width: auto;
  margin-bottom: 10px;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  background-color: rgba(0, 0, 0, 0.836);
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 10px;
}

h2 {
  font-style: italic;
  text-align: center;
  background-color: rgba(90, 4, 4, 0.541);
  color: white;
  width: 200px;
  border-radius: 10px;
  margin: auto;
}

article {
  background-color: rgba(0, 0, 0, 0.836);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

article h3 {
  color: white;
}

section article div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

section article div button {
  width: 250px;
  height: 50px;
  background-color: rgb(138, 5, 5);
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(138, 5, 5);
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
}

div a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

@media (min-width: 700px) and (max-width: 1173px) {
  body .section1 {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas:
      "art1 art1 art2 art2"
      " . art3 art3 .";
  }

  body .section1 .article1-section1 {
    grid-area: art1;
  }

  body .section1 .article2-section1 {
    grid-area: art2;
  }

  body .section1 .article3-section1 {
    grid-area: art3;
  }
}

@media (min-width: 1174px) and (max-width: 3000px) {
  body .section1 {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "art1 art2 art2";
  }
}
